.venus-btn{
    padding: 5px;
    max-width: 100px;
    min-width: 70px;
    height: auto;
    background: #1a73e8;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0;
}

.primary{
    background: #1a73e8;
}
.danger{
    background: rgb(170, 30, 30)
}

.success{
    background: green
}

.clear{
    background: #cccccc;
    color: #000;
}

.round{
    border-radius: 20px;
}

.flat{
    border-radius: 5px;

}

.disabled{
    pointer-events: none;
    background: rgb(199, 195, 195) !important;
}