<div class="container">

    <h4>Today : {{today | date:"MM/dd/yy"}}</h4>   

    <venus-simpletitlecontainer [title]="'Admin Login' | lowercase">
        <form [formGroup]="loginform" (ngSubmit)="login()">

             <div class="form-group">
                    <label for="kyc">Enter Your Name</label>
                  
                        <input nonumber quickdelete formControlName="username" type="text" class="form-control">
                        
                        <small class="error-txt" *ngIf="_get('username').touched && _get('username').errors">
                            username is required
                        </small>
             </div>

             <div class="form-group">
                    <label for="kyc">Pan</label>
                  
                        <input quickdelete formControlName="pan" type="text" class="form-control">

                        <small class="error-txt" *ngIf="_get('pan').touched && _get('pan').errors">
                            PAN number is required
                        </small>
                        

             </div>

            <venusbutton [disabled]="loginform.invalid" [color]="'green'" [cornor]="'round'">
                Submit
            </venusbutton>
        </form>
    </venus-simpletitlecontainer>


   

</div>


