<div class="container">    
    
        <venus-simpletitlecontainer [title]="'Citizen Login'">
            <form [formGroup]="registrationform" (ngSubmit)="applyLoan()">
    
                 <div class="form-group">
                        <label for="kyc">Enter Your Name</label>
                      
                            <input formControlName="username" type="text" class="form-control" [value]="user">
                            <small 
                            *ngIf="_get('username').touched && _get('username').errors">
                                username is required.
                            </small>
                           
                 </div>
    
                 <div class="form-group">
                        <label for="kyc">Enter Any KYC
                           
                        </label>
                      
                        <input formControlName="kyc" type="text" class="form-control" >
                        <small 
                        *ngIf="_get('kyc').touched && _get('kyc').errors">
                            kyc is required.
                        </small>
                      
    
                 </div>
    
                <!-- <venusbutton [color]="'green'" [corner]="'round'">
                    Submit
                </venusbutton>
                -->
                <venusbutton type="submit" [disabled]="registrationform.invalid" [color]="'red'" [cornor]="'flat'">
                        Apply
                </venusbutton>
                
            </form>
        </venus-simpletitlecontainer>
    
       
       
    
    </div>